html
  head
    meta(charset='UTF-8')
    title 彗星襲月 | 星伙聊原
    link(type="text/css", rel="stylesheet", href="../css/base.css")
    link(type="text/css", rel="stylesheet", href="../css/SunMoonEarth.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #nav-bar 
      a(href="./index.html") 首頁
      a(href="./SunMoonEarth.html") 天狗食日
      a(href="./MarsAntares.html") 熒惑守心
      a(href="./PlanetaryAlignment.html") 五星連珠
      a(href="./Comet.html") 彗星襲月
    #back-to-top 
      p ▲
      p TOP
    #side-page-bar
      .sBlock4
      .sBlock4
      .sBlock4
      .sBlock4
      .sBlock4
      .s00.s4 ▶ P.0 標題
      .s01.s4 ▶ P.1 漫畫情境
      .s02.s4 ▶ P.2 漫畫情境
      .s03.s4 ▶ P.3 漫畫情境
      .s04.s4 ▶ P.4 漫畫情境
      .s05.s4 ▶ P.5 漫畫情境
      .s06.s4 ▶ P.6 漫畫情境
      .s07.s4 ▶ P.7 漫畫情境
      .s08.s4 ▶ P.8 原理教學
      .s09.s4 ▶ P.9 原理教學
      .s10.s4 ▶ P.10 原理教學
      .s11.s4 ▶ P.11 原理教學
      .s12.s4 ▶ P.12 原理教學
      .s13.s4 ▶ P.13 原理教學
      .s14.s4 ▶ P.14 原理教學
      .sAA.s4 ▶ P.A 補充說明
      .sBB.s4 ▶ P.B 參考資料
    .head_section
      h1 彗星襲月
      h2 彗星襲月
      h3 秋七月，有星孛入於北斗。
      img(src="../img/04-16847984267.png", alt="")
      .sentence
        h4 《春秋》
        h4 秋七月，有星孛入於北斗。

    .main_section

      //- 第一頁
      .manga
        .manga-text.text03
          .tri
          h2 1
          p 故事發生在戰國後期，秦朝統一天下不久後，秦始皇認為六國都臣服於大秦，對於其他小地主是不放在眼裡，然而一個奏摺卻出現在秦皇的眼裡...
          p 
            br
            br
            | 雖然秦皇是位暴君，但其實他一生也做了許多貢獻例如：設立中央統治規則、以法治國、鞏固國家領土完整、統一度量衡，對後世的朝代文官制度和世界產生了不可估量的深遠影響。
        img.m01(src="../img/彗星襲月/彗星P1.jpg", alt="")
        .Bbox.m01
          img.m01(src="../img/放大鏡.png", alt="")
          .m01 　大圖
        .Hbox.m01
          img.m01(src="../img/燈泡.png", alt="")
          .m01 　提示

      //- 第二頁
      .manga
        .manga-text
          .tri
          h2 2
          p 其中公文內提到交換土地的事情，秦王以五百里土地換五十里的土地，卻被婉拒因此感到非常生氣。但其實秦王想要想用詐騙的手段吞併安陵國，在這巨大的利益之下，安陵國仍然看出此計策並且拒絕以免上當。
        img.m02(src="../img/彗星襲月/彗星P2.jpg", alt="")
        .Bbox.m02
          img.m02(src="../img/放大鏡.png", alt="")
          .m02 　大圖
        .Hbox.m02
          img.m02(src="../img/燈泡.png", alt="")
          .m02 　提示

      //- 第三頁
      .manga
        .manga-text
          .tri
          h2 3
          p 原文說道「安陵君其許寡人」，即利用大國的威勢讓只有小小土地的安陵君不敢說不。如同本頁內容，秦始皇依舊維持高姿態面對來自安陵國的使者－－唐雎。
        img.m03(src="../img/彗星襲月/彗星P3.jpg", alt="")
        .Bbox.m03
          img.m03(src="../img/放大鏡.png", alt="")
          .m03 　大圖
        .Hbox.m03
          img.m03(src="../img/燈泡.png", alt="")
          .m03 　提示
      
      //- 第四頁
      .manga
        .manga-text
          .tri
          h2 4
          p 唐雎解釋安陵王不願將土地換出去的原因，因為土地是先王所分封的。不願因利益而將先人過去累積的心血全部白費。
          p
            br
            br
            | 據《史記》記載，齊、楚聯合攻擊魏國，九十多歲的唐雎去見秦昭王，向秦王說明魏國對於秦國的戰略意義，於是秦王發兵解救魏國。該事件發生時間不早於公元前225年。如果史記中記載的唐雎和《唐雎不辱使命》中的唐雎為同一人，那麼唐雎去見秦王嬴政時至少有130歲。
        img.m04(src="../img/彗星襲月/彗星P4.jpg", alt="")
        .Bbox.m04
          img.m04(src="../img/放大鏡.png", alt="")
          .m04 　大圖
        .Hbox.m04
          img.m04(src="../img/燈泡.png", alt="")
          .m04 　提示
      
      //- 第五頁
      .manga
        .manga-text
          .tri
          h2 5
          p 說明天子與平民的差異，天子發怒會導致百萬具屍體倒下，血流千里。平民發怒，也不過是摘掉帽子光著腳，把頭往地上撞。秦王認為天選之人只要不開心，便可把世間弄得亂七八糟，而平民只不過是小石子，就算發怒也只能在原地發洩，無法改變事情。但唐睢認為是平民發怒只是凡夫俗子之怒，並非真正的勇士之怒。
        img.m05(src="../img/彗星襲月/彗星P5.jpg", alt="")
        .Bbox.m05
          img.m05(src="../img/放大鏡.png", alt="")
          .m05 　大圖
        .Hbox.m05
          img.m05(src="../img/燈泡.png", alt="")
          .m05 　提示
      
      //- 第六頁
      .manga
        .manga-text
          .tri
          h2 6
          p 接下來唐睢列舉了前代三個勇士的故事：專諸為公子光刺殺吳王僚時，天上的星光亮異常，超過月光；聶政刺殺韓相韓愧時，白色的長虹貫穿太陽；要離刺殺慶忌時，蒼鷹用翅膀敲擊宮殿。
          p
            br
            br
            | 而歷史上，秦王一生中總共被刺殺四次，最著名的是荊軻刺秦王，其餘三次為高漸離、張良、強盜事件。
        img.m06(src="../img/彗星襲月/彗星P6.jpg", alt="")
        .Bbox.m06
          img.m06(src="../img/放大鏡.png", alt="")
          .m06 　大圖
        .Hbox.m06
          img.m06(src="../img/燈泡.png", alt="")
          .m06 　提示
      
      //- 第七頁
      .manga
        .manga-text
          .tri
          h2 7
          p 唐睢說自己將成為第四個勇士。如果大王逼我發怒的話，那麼，倒在地上的將是你與我兩具屍體，整個秦國都將為您穿上喪服。說完後拿劍而起，直逼秦王。最後秦王被震懾住。露出畏懼的神情，向唐睢謝罪。
        img.m07(src="../img/彗星襲月/彗星P7.jpg", alt="")
        .Bbox.m07
          img.m07(src="../img/放大鏡.png", alt="")
          .m07 　大圖
        .Hbox.m07
          img.m07(src="../img/燈泡.png", alt="")
          .m07 　提示
      
      //- 第八頁
      .manga
        .manga-text.text03
          .tri
          h2 8
          p 施工中...
        img.m08(src="../img/彗星襲月/彗星P8.jpg", alt="")
        .Bbox.m08
          img.m08(src="../img/放大鏡.png", alt="")
          .m08 　大圖
        .Hbox.m08
          img.m08(src="../img/燈泡.png", alt="")
          .m08 　提示
      
      //- 第九頁
      .manga
        .manga-text.text03
          .tri
          h2 9
          p 施工中...
        img.m09(src="../img/彗星襲月/彗星P9.jpg", alt="")
        .Bbox.m09
          img.m09(src="../img/放大鏡.png", alt="")
          .m09 　大圖
        .Hbox.m09
          img.m09(src="../img/燈泡.png", alt="")
          .m09 　提示
      
      //- 第十頁
      .manga
        .manga-text.text03
          .tri
          h2 10
          p 施工中...
        img.m10(src="../img/彗星襲月/彗星P10.jpg", alt="")
        .Bbox.m10
          img.m10(src="../img/放大鏡.png", alt="")
          .m10 　大圖
        .Hbox.m10
          img.m10(src="../img/燈泡.png", alt="")
          .m10 　提示
      
      //- 第十一頁
      .manga
        .manga-text.text03
          .tri
          h2 11
          p 施工中...
        img.m11(src="../img/彗星襲月/彗星P11.jpg", alt="")
        .Bbox.m11
          img.m11(src="../img/放大鏡.png", alt="")
          .m11 　大圖
        .Hbox.m11
          img.m11(src="../img/燈泡.png", alt="")
          .m11 　提示
      
      //- 第十二頁
      .manga
        .manga-text.text03
          .tri
          h2 12
          p 施工中...
        img.m12(src="../img/彗星襲月/彗星P12.jpg", alt="")
        .Bbox.m12
          img.m12(src="../img/放大鏡.png", alt="")
          .m12 　大圖
        .Hbox.m12
          img.m12(src="../img/燈泡.png", alt="")
          .m12 　提示
      
      //- 第十三頁
      .manga
        .manga-text.text03
          .tri
          h2 13
          p 施工中...
        img.m13(src="../img/彗星襲月/彗星P13.jpg", alt="")
        .Bbox.m13
          img.m13(src="../img/放大鏡.png", alt="")
          .m13 　大圖
        .Hbox.m13
          img.m13(src="../img/燈泡.png", alt="")
          .m13 　提示
      
      //- 第十四頁
      .manga
        .manga-text.text03
          .tri
          h2 14
          p 施工中...
        img.m14(src="../img/彗星襲月/彗星P14.jpg", alt="")
        .Bbox.m14
          img.m14(src="../img/放大鏡.png", alt="")
          .m14 　大圖
        .Hbox.m14
          img.m14(src="../img/燈泡.png", alt="")
          .m14 　提示
      
      
    .bottom_section
      .textbar
        .tri
        h2 彗星大發現！
        p 　　彗星一直以來都是很奇特的天文現象，難以捉摸的軌跡、未知的內容物，而且，有哪個星體跟它一樣帶著尾巴呢！
        p 　　於是在2004年3月2日發射彗星探測船
          span 羅賽塔號
          |前往
          span 67P/楚留莫夫－格拉希門克彗星
          |進行探測，使人類科學又跨出了一步。
      .textbar
        .tri
        h2 羅賽塔號Rosetta & 菲萊登陸器Philae
        p 　　羅賽塔號與萊菲登陸器共花費兩年多完成任務，其中完成的壯舉包含首次
          span 繞行彗星
          |以及
          span 登陸
          |並分析出彗星其中的成分，幫助科學家評估彗星對於地球上的生命起源是否有關連。
      .textbar
        .tri
        h2 彗星在世界各地的看法
        p.p001 　　在中國古代，「彗」的本意為帚，彗星的形狀像是用甘草紮成的掃帚，所以也被稱為
          span 「掃把星」
          |。
        p.p001 　　西方語言中的「彗星」一詞源自拉丁文的cometes，這是拉丁化的希臘文κομήτης(komētēs)，而這個字的本意就是「頭髮」的意思。希臘哲學家亞里斯多德是第一位使用這個字來形容他看見的
          span 「長頭髮的星星」
          |。
        p.p001 　　中西方對於彗星的命名與描述都有點出了彗星的外型、樣貌，彗星的天文符號
          span  ☄ 
          |中，圓盤代表彗核，三段直線則是表示出彗尾。
      .textbar
        .tri
        h2 古代過客的紀錄
        p 從春秋時代，人們就發現彗星了。
        .ref 《春秋》魯文公十四年「秋七月，有星孛入於北斗。」
        p 而唐朝 房玄齡等人所編寫的《晉書·天文志》更是對彗星有更詳細的描述。
        .ref 《晉書·天文志》「彗星所謂掃星，本類星，末類彗，小者數寸，長或經天。彗星本無光，傅日而為光，故夕見則東指，晨見則西指。在日南北皆隨日光而指，頓挫其芒，或長或短。」
        p 從這些紀錄來看，彗星從原本掃把星的不祥之物，逐漸有更多的認識，掃去自身不吉利的觀念。

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='../Javascript/fade04.js')
  script(src='../Javascript/back-to-top.js')
