html
  head
    meta(charset='UTF-8')
    title 五星連珠 | 星伙聊原
    link(type="text/css", rel="stylesheet", href="../css/base.css")
    link(type="text/css", rel="stylesheet", href="../css/SunMoonEarth.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #nav-bar 
      a(href="./index.html") 首頁
      a(href="./SunMoonEarth.html") 天狗食日
      a(href="./MarsAntares.html") 熒惑守心
      a(href="./PlanetaryAlignment.html") 五星連珠
      a(href="./Comet.html") 彗星襲月
    #back-to-top 
      p ▲
      p TOP
    #side-page-bar
      .sBlock3
      .sBlock3
      .sBlock3
      .sBlock3
      .sBlock3
      .s00.s3 ▶ P.0 標題
      .s01.s3 ▶ P.1 漫畫情境
      .s02.s3 ▶ P.2 漫畫情境
      .s03.s3 ▶ P.3 漫畫情境
      .s04.s3 ▶ P.4 漫畫情境
      .s05.s3 ▶ P.5 原理教學
      .s06.s3 ▶ P.6 原理教學
      .s07.s3 ▶ P.7 原理教學
      .s08.s3 ▶ P.8 原理教學
      .s09.s3 ▶ P.9 原理教學
      .sAA.s3 ▶ P.A 補充說明
      .sBB.s3 ▶ P.B 參考資料
    .head_section
      h1 五星連珠
      h2 五星連珠
      h3 元年冬十月，五星聚於冬井，沛公至霸上。
      img(src="../img/03-13989837604418.png", alt="")
      .sentence
        h4 《馬王堆帛書》
        h4 元年冬十月，五星聚於冬井，沛公至霸上。

    .main_section

      //- 第一頁
      .manga
        .manga-text
          .tri
          h2 1
          p 故事中秦朝末期項羽率軍抵達關中，殺死子嬰及秦諸公子、宗族，秦朝正式滅亡。
          p
            br
            br
            | 但史實是子嬰先向劉邦軍投降，秦朝滅亡，而後項羽到關中，殺死子嬰及秦諸公子宗族，並在咸陽屠殺，火燒秦宮室，擄掠秦宮的女子，分了秦國的珍寶貨財給諸侯。
        img.m01(src="../img/五星連珠/五星連珠P1.jpg", alt="")
        .Bbox.m01
          img.m01(src="../img/放大鏡.png", alt="")
          .m01 　大圖
        .Hbox.m01
          img.m01(src="../img/燈泡.png", alt="")
          .m01 　提示

      //- 第二頁
      .manga
        .manga-text.text03
          .tri
          h2 2
          p 而在秦朝滅亡的某天五星連珠，百姓認為會有仁帝降世。而那位仁帝就是劉邦，中國歷史上第一位平民出身的皇帝，也是第一位有廟號及諡號的皇帝。
        img.m02(src="../img/五星連珠/五星連珠P2.jpg", alt="")
        .Bbox.m02
          img.m02(src="../img/放大鏡.png", alt="")
          .m02 　大圖
        .Hbox.m02
          img.m02(src="../img/燈泡.png", alt="")
          .m02 　提示

      //- 第三頁
      .manga
        .manga-text.natural
          .tri
          h2 3
          p 秦朝滅亡後開啟亂世，而項羽和劉邦經過楚漢相爭，劉邦獲勝建立漢朝。其中最為著名的戰役為垓下之戰，楚軍在垓下之戰中被漢軍打敗，被圍在垓下。劉邦用四面楚歌之計瓦解楚軍軍心，最後項羽走投無路，自覺無顏見江東父老，只好自刎於烏江邊。
        img.m03(src="../img/五星連珠/五星連珠P3.jpg", alt="")
        .Bbox.m03
          img.m03(src="../img/放大鏡.png", alt="")
          .m03 　大圖
        .Hbox.m03
          img.m03(src="../img/燈泡.png", alt="")
          .m03 　提示
      
      //- 第四頁
      .manga
        .manga-text
          .tri
          h2 4
          p 五星連珠對於處於亂世的人來說是吉兆，相信會有賢明的皇帝來帶領他們。但對於舊朝代的皇族來說是不吉利的，等同於滅亡的時刻即將來臨。
        img.m04(src="../img/五星連珠/五星連珠P4.jpg", alt="")
        .Bbox.m04
          img.m04(src="../img/放大鏡.png", alt="")
          .m04 　大圖
        .Hbox.m04
          img.m04(src="../img/燈泡.png", alt="")
          .m04 　提示
      
      //- 第五頁
      .manga
        .manga-text.text03
          .tri
          h2 5
          p 施工中...
        img.m05(src="../img/五星連珠/五星連珠P5.jpg", alt="")
        .Bbox.m05
          img.m05(src="../img/放大鏡.png", alt="")
          .m05 　大圖
        .Hbox.m05
          img.m05(src="../img/燈泡.png", alt="")
          .m05 　提示
      
      //- 第六頁
      .manga
        .manga-text.text03
          .tri
          h2 6
          p 施工中...
        img.m06(src="../img/五星連珠/五星連珠P6.jpg", alt="")
        .Bbox.m06
          img.m06(src="../img/放大鏡.png", alt="")
          .m06 　大圖
        .Hbox.m06
          img.m06(src="../img/燈泡.png", alt="")
          .m06 　提示
      
      //- 第七頁
      .manga
        .manga-text.text03
          .tri
          h2 7
          p 施工中...
        img.m07(src="../img/五星連珠/五星連珠P7.jpg", alt="")
        .Bbox.m07
          img.m07(src="../img/放大鏡.png", alt="")
          .m07 　大圖
        .Hbox.m07
          img.m07(src="../img/燈泡.png", alt="")
          .m07 　提示
      
      //- 第八頁
      .manga
        .manga-text.text03
          .tri
          h2 8
          p 施工中...
        img.m08(src="../img/五星連珠/五星連珠P8.jpg", alt="")
        .Bbox.m08
          img.m08(src="../img/放大鏡.png", alt="")
          .m08 　大圖
        .Hbox.m08
          img.m08(src="../img/燈泡.png", alt="")
          .m08 　提示
      
      //- 第九頁
      .manga
        .manga-text.text03
          .tri
          h2 9
          p 施工中...
        img.m09(src="../img/五星連珠/五星連珠P9.jpg", alt="")
        .Bbox.m09
          img.m09(src="../img/放大鏡.png", alt="")
          .m09 　大圖
        .Hbox.m09
          img.m09(src="../img/燈泡.png", alt="")
          .m09 　提示

      
    .bottom_section
      .textbar
        .tri
        h2 五星連珠是哪五顆行星?
        p 　　五星連珠其實可以是任意五顆行星，只要在視覺上排成一列即可。不過在古代望遠科技還不發達的時候，這五顆代表的是肉眼可清楚觀察到的水星、金星、火星、木星、土星。
      .textbar
        .tri
        h2 對地球的影響?
        p 　　古代人認為五星連珠是大吉之兆，而有些人則認為五星連珠會對地球的潮汐造成影響。
        p 　　其實完全沒有影響，五星連珠只是行星剛好在那個特定位置，每個行星對地球的重力因為距離關係，可以說是微乎其微，所以只要帶著觀賞的態度去面對就好囉。
      .textbar
        .tri
        h2 要怎麼觀看五星連珠?
        p 　　這裡要破解一下迷思，五星連珠其實不是五顆行星排成一列，而是在肉眼觀察視角中排成一列即可。
        p 　　以包含水星、金星的連珠來舉例，因為它們的運行軌道更接近太陽，所以只要是地球的晚上都無法看見它們的身影。因此，最佳的觀看時間是清晨或傍晚，這時候的天空還不會太亮，同時能觀察到所有行星軌道。

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='../Javascript/fade03.js')
  script(src='../Javascript/back-to-top.js')