html
  head
    meta(charset='UTF-8')
    title 天狗食日 | 星伙聊原
    link(type="text/css", rel="stylesheet", href="../css/base.css")
    link(type="text/css", rel="stylesheet", href="../css/SunMoonEarth.css")
    //- cd
    //- pug -w ./ -o ./html -P
  body
    #nav-bar 
      a(href="./index.html") 首頁
      a(href="./SunMoonEarth.html") 天狗食日
      a(href="./MarsAntares.html") 熒惑守心
      a(href="./PlanetaryAlignment.html") 五星連珠
      a(href="./Comet.html") 彗星襲月
    #back-to-top
      p ▲
      p TOP
    #side-page-bar
      .sBlock
      .sBlock
      .sBlock
      .sBlock
      .sBlock
      .s00.s ▶ P.0 標題
      .s01.s ▶ P.1 漫畫情境
      .s02.s ▶ P.2 漫畫情境
      .s03.s ▶ P.3 漫畫情境
      .s04.s ▶ P.4 漫畫情境
      .s05.s ▶ P.5 漫畫情境
      .s06.s ▶ P.6 漫畫情境
      .s07.s ▶ P.7 漫畫情境
      .s08.s ▶ P.8 漫畫情境
      .s09.s ▶ P.9 原理教學
      .s10.s ▶ P.10 原理教學
      .s11.s ▶ P.11 原理教學
      .s12.s ▶ P.12 原理教學
      .s13.s ▶ P.13 原理教學
      .s14.s ▶ P.14 原理教學
      .s15.s ▶ P.15 原理教學
      .s16.s ▶ P.16 原理教學
      .sAA.s ▶ P.A 補充說明
      .sBB.s ▶ P.B 參考資料
    .head_section
      h1 天狗食日
      h2 天狗食日
      h3 十月之交，朔月辛卯，日有食之。
      img(src="../img/01-11896196897.png", alt="")
      .sentence
        h4 《詩經》
        h4 十月之交，朔月辛卯，日有食之。

    .main_section

      //- 第一頁
      .manga
        .manga-text.natural
          .tri
          h2 1
          p 故事的起源是印度的佛經故事，其主角為釋迦摩尼的弟子目連。本篇故事在唐朝傳入中國後，產生了許多變種，這次所採用的是宋代廣為流傳的版本。
        .manga-text.text02
          .tri
          h2 2
          p 故事的背景設定在漢朝，講述此時漢朝佛寺所需遵循的規矩，而主角特地來寺廟內通知什麼事，究竟發生了什麼事呢...?
        img.m01(src="../img/天狗食日/天狗P1.jpg", alt="")
        .Bbox.m01
          img.m01(src="../img/放大鏡.png", alt="")
          .m01 　大圖
        .Hbox.m01
          img.m01(src="../img/燈泡.png", alt="")
          .m01 　提示

      //- 第二頁
      .manga
        .manga-text.text03
          .tri
          h2 3
          p 雖然漫畫故事中，目蓮的母親要送肉包子去給佛寺中的和尚，但其實當時的包子並不叫「包子」，而是類似「饅頭」的讀法。
          p 
            br
            br
            | 所以人們去到店裡面想吃有餡的包子就得說:「我要一個有餡的饅頭」，直到唐宋甚至到明朝，包子和饅頭才正式被分開稱呼，變成我們現在習慣的樣子。
        img.m02(src="../img/天狗食日/天狗P2.jpg", alt="")
        .Bbox.m02
          img.m02(src="../img/放大鏡.png", alt="")
          .m02 　大圖
        .Hbox.m02
          img.m02(src="../img/燈泡.png", alt="")
          .m02 　提示

      //- 第三頁
      .manga
        .manga-text.text03
          .tri
          h2 4
          p 在大多數的版本當中，目蓮的母親都被描寫成作惡多端的人物，因此死後被打入飢餓地獄，呼應了讓和尚吃葷包子的事件。
          p
            br
            br
            | 而這也讓「目連救母」的故事提升了張力，原作中藉由觀看不同的地獄慘景，引起人的向善之心。
        img.m03(src="../img/天狗食日/天狗P3.jpg", alt="")
        .Bbox.m03
          img.m03(src="../img/放大鏡.png", alt="")
          .m03 　大圖
        .Hbox.m03
          img.m03(src="../img/燈泡.png", alt="")
          .m03 　提示
      
      //- 第四頁
      .manga
        .manga-text.text03
          .tri
          h2 5
          p 由於故事為宋代版本，當時道教相對盛行，因此故事也導入道教「天庭」的概念。
          p
            br
            br
            | 南天門，顧名思義就是在南方，結合北半球太陽日照和風水的說法，南方代表的就是「陽」，因此有「山南水北謂之陽，山北水南謂之陰」的說法。
          p
            br
            br
            | 以建築方面來說，中國的宮殿大多是「坐南朝北」，可以得知南天門是天庭的正門。
        img.m04(src="../img/天狗食日/天狗P4.jpg", alt="")
        .Bbox.m04
          img.m04(src="../img/放大鏡.png", alt="")
          .m04 　大圖
        .Hbox.m04
          img.m04(src="../img/燈泡.png", alt="")
          .m04 　提示
      
      //- 第五頁
      .manga
        .manga-text.text03
          .tri
          h2 6
          p 從這裡可以看出與其他版本的不同，目連之母被玉皇大帝變成「一條狗」打入地獄，其中一種說法是目連母親給予和尚的包子是「狗肉饅頭」，數量還非常多，多達360顆，因此輪迴報應降下天罰。
        img.m05(src="../img/天狗食日/天狗P5.jpg", alt="")
        .Bbox.m05
          img.m05(src="../img/放大鏡.png", alt="")
          .m05 　大圖
        .Hbox.m05
          img.m05(src="../img/燈泡.png", alt="")
          .m05 　提示
      
      //- 第六頁
      .manga
        .manga-text.natural
          .tri
          h2 7
          p 此處的牛鬼是「牛頭馬面」當中－－牛頭人身的陰間獄卒，因為目連母想逃出地獄，因此被牛鬼追逐。
          p
            br
            br
            | 牛鬼源於佛教《五苦章句經》，負責向閻羅王報告罪人生前的罪刑。
        .manga-text.text02.natural
          .tri
          h2 8
          p 除了天狗食日(日蝕)的現象外，天狗食月(月蝕)也是相同的故事，因為目連母逃離地獄想找玉皇大帝復仇，但是跑去天庭卻不見玉皇大帝蹤影，因此跑去吃太陽和月亮，想讓世界陷入一片漆黑。
        img.m06(src="../img/天狗食日/天狗P6.jpg", alt="")
        .Bbox.m06
          img.m06(src="../img/放大鏡.png", alt="")
          .m06 　大圖
        .Hbox.m06
          img.m06(src="../img/燈泡.png", alt="")
          .m06 　提示
      
      //- 第七頁
      .manga
        .manga-text.text03
          .tri
          h2 9
          p 日月蝕在世界各地有不同的看法，在古代中國和周邊的一些族群，如蒙古族等，在日蝕的當下會敲盆打碗，希望讓日蝕盡早離開。
          p
            br
            br
            | 而月蝕，由於光的偏折看起來會是紅色的，也可以叫做血月，東方認為會帶來血光之災，西方基督教則會認為是上帝的憤怒。
        img.m07(src="../img/天狗食日/天狗P7.jpg", alt="")
        .Bbox.m07
          img.m07(src="../img/放大鏡.png", alt="")
          .m07 　大圖
        .Hbox.m07
          img.m07(src="../img/燈泡.png", alt="")
          .m07 　提示
      
      //- 第八頁
      .manga
        .manga-text.text03
          .tri
          h2 10
          p 施工中...
        img.m08(src="../img/天狗食日/天狗P8.jpg", alt="")
        .Bbox.m08
          img.m08(src="../img/放大鏡.png", alt="")
          .m08 　大圖
        .Hbox.m08
          img.m08(src="../img/燈泡.png", alt="")
          .m08 　提示
      
      //- 第九頁
      .manga
        .manga-text.text03
          .tri
          h2 11
          p 施工中...
        img.m09(src="../img/天狗食日/天狗P9.jpg", alt="")
        .Bbox.m09
          img.m09(src="../img/放大鏡.png", alt="")
          .m09 　大圖
        .Hbox.m09
          img.m09(src="../img/燈泡.png", alt="")
          .m09 　提示
      
      //- 第十頁
      .manga
        .manga-text.text03
          .tri
          h2 12
          p 施工中...
        img.m10(src="../img/天狗食日/天狗P10.jpg", alt="")
        .Bbox.m10
          img.m10(src="../img/放大鏡.png", alt="")
          .m10 　大圖
        .Hbox.m10
          img.m10(src="../img/燈泡.png", alt="")
          .m10 　提示
      
      //- 第十一頁
      .manga
        .manga-text.text03
          .tri
          h2 13
          p 施工中...
        img.m11(src="../img/天狗食日/天狗P11.jpg", alt="")
        .Bbox.m11
          img.m11(src="../img/放大鏡.png", alt="")
          .m11 　大圖
        .Hbox.m11
          img.m11(src="../img/燈泡.png", alt="")
          .m11 　提示
      
      //- 第十二頁
      .manga
        .manga-text.text03
          .tri
          h2 14
          p 施工中...
        img.m12(src="../img/天狗食日/天狗P12.jpg", alt="")
        .Bbox.m12
          img.m12(src="../img/放大鏡.png", alt="")
          .m12 　大圖
        .Hbox.m12
          img.m12(src="../img/燈泡.png", alt="")
          .m12 　提示
      
      //- 第十三頁
      .manga
        .manga-text.text03
          .tri
          h2 15
          p 施工中...
        img.m13(src="../img/天狗食日/天狗P13.jpg", alt="")
        .Bbox.m13
          img.m13(src="../img/放大鏡.png", alt="")
          .m13 　大圖
        .Hbox.m13
          img.m13(src="../img/燈泡.png", alt="")
          .m13 　提示
      
      //- 第十四頁
      .manga
        .manga-text.text03
          .tri
          h2 16
          p 施工中...
        img.m14(src="../img/天狗食日/天狗P14.jpg", alt="")
        .Bbox.m14
          img.m14(src="../img/放大鏡.png", alt="")
          .m14 　大圖
        .Hbox.m14
          img.m14(src="../img/燈泡.png", alt="")
          .m14 　提示
      
      //- 第十五頁
      .manga
        .manga-text.text03
          .tri
          h2 17
          p 施工中...
        img.m15(src="../img/天狗食日/天狗P15.jpg", alt="")
        .Bbox.m15
          img.m15(src="../img/放大鏡.png", alt="")
          .m15 　大圖
        .Hbox.m15
          img.m15(src="../img/燈泡.png", alt="")
          .m15 　提示
      
      //- 第十六頁
      .manga
        .manga-text.text03
          .tri
          h2 18
          p 施工中...
        img.m16(src="../img/天狗食日/天狗P16.jpg", alt="")
        .Bbox.m16
          img.m16(src="../img/放大鏡.png", alt="")
          .m16 　大圖
        .Hbox.m16
          img.m16(src="../img/燈泡.png", alt="")
          .m16 　提示
      
      
    .bottom_section
      .textbar
        .tri
        h2 日食與天狗食日的其他關聯? 
        p 　　天狗是中國民間傳說中的一種動物。最早記載於《山海經》中，食日則是把太陽吃掉，因此在古時候天狗食日就是所謂的日食。
        p 　　而日食只是一種天文現象，但是以前的人卻很害怕。當它發生時，太陽好像被天狗慢慢地吃掉，而古人口中的天狗是后羿飼養的狗。因此認為發生天狗食日一定會有災難降臨。
      .textbar
        .tri
        h2 日蝕有哪些種類?
        p 　　日蝕可以分為三種，日全蝕、日環蝕、日偏食，當月球運行到太陽和地球中間，如果三者正好處在一條直線時，月球就會擋住太陽射向地球的光，月球身後的黑影正好落到地球上，這時就會發生日食現象。而發生的時間一定在朔月，即農曆初一當天。
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='../Javascript/fade01.js')
  script(src='../Javascript/back-to-top.js')
